.user-profile{
  margin: 1rem 0;
  padding: 10px;
  height: 50px;
  color: #5989cf;
  background: #c6e4ff;
  display: flex;
}

.user_child:last-child{
  margin-left: auto;
}

.user_child img{
  border-radius: 30px;
}

.user_child span{
  text-align: center;
}