/* 投稿フォーム用 */
.login-form{
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
}

.inner {
  max-width: 700px;
  margin: 0 auto 10px;
}

section .user-content{
  display: inline-block;
}

.c-main {
  padding: 60px 0px;
}
