/* .stream{
  display: flex;
} */

.stream video{
  width: 650px;
  height: 500px;
  margin: 2px;
  background-color: black;
}

.stream h1{
  text-align: center;
}

.stream .webVideo{
  display: flex;
  justify-content: space-around;
}

